<pre>{{seletor | json}}</pre>

<div class="container">
  <h3 class="alert alert-sucess">Vacinas Cadastradas</h3>

  <div class="card">
    <div class="card-header bg-light">
      <h5>Filtros</h5>
    </div>
    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-md-3">
            <label for="nome">Nome</label>
            <input type="text" id="nome" class="form-control" name="nome" [(ngModel)]="seletor.nomeVacina">
          </div>
          <div class="col-md-3 form-group">
            <label for="pais" class="form-label">País</label>

            <select class="form-control" name="nomePais" [(ngModel)]="seletor.nomePais">
              @for(p of paises; track p.idPais) {
              <option value="{{ p.pais}}">{{ p.pais }} ({{ p.sigla }})</option>
              }
            </select>
          </div>

          <div class="col-md-3">
            <label for="nome">Pesquisador</label>
            <input type="text" id="pesquisador" class="form-control" name="pais" [(ngModel)]="seletor.nomePesquisador">
          </div>
          <div class="col-md-3">
            <label for="data-pesquisa">Data de início da pesquisa</label>
            <input type="date" class="form-control" name="data-pesquisa" [(ngModel)]="seletor.nomePesquisador">
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <label for="nome">&nbsp;</label>
            <button type="button" class="form-control btn btn-outline-primary" (click)="pesquisar()">
              <i class="bi bi-search"></i> Pesquisar
            </button>
          </div>

          <div class="col-md-3">
            <label for="nome">&nbsp;</label>
            <button type="button" class="form-control btn btn-outline-warning" (click)="limpar()" (click)="pesquisar()">
              <i class="bi bi-x-circle"></i> Limpar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <br><br>
  <div class="card">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>País de origem</th>
          <th>Nome do pesquisador</th>
          <th>Estágio</th>
          <th>Pesquisa iniciada em:</th>
          <th>Média avaliação</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        @for(vacina of vacinas; track vacina){
        <tr>
          <td>{{vacina.nome}}</td>
          <td>{{vacina.paisOrigem.pais}}</td>
          <td>{{vacina.pesquisadorResponsavel.nome}}</td>
          <td>{{vacina.estagio}}</td>
          <td>{{vacina.dataInicioPesquisa}}</td>
          <td>{{vacina.mediaAvaliacao}}</td>

          <div class="row">
            <div>
              <td><button type="button" class="btn btn-outline-danger" (click)="excluir(vacina.id)">
                  <i class="bi bi-trash3"></i> Excluir</button>
                <button type="button" class="btn btn-outline-primary">
                  <i class="bi bi-pencil"></i> Editar</button>
              </td>
            </div>
          </div>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
