
<div>
  <table class = "table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>País de origem</th>
        <th>Nome do pesquisador</th>
        <th>Estágio</th>
        <th>Pesquisa iniciada em:</th>
        <th>Média avaliação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vacina of vacinas">
        <td>{{vacina.nome}}</td>
        <td>{{vacina.paisOrigem.pais}}</td>
        <td>{{vacina.pesquisadorResponsavel.nome}}</td>
        <td>{{vacina.estagio}}</td>
        <td>{{ vacina.dataInicioPesquisa}}</td>
        <td>{{vacina.mediaAvaliacao}}</td>
        <td><button type="button" class="btn btn-outline-danger">Excluir</button></td>
      </tr>
    </tbody>
  </table>
</div>
