<div class="container">
  <h3 class="mt-4">Vacinações Cadastradas</h3>

  <div class="card">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID do vacinado</th>
            <th>Nome da vacina</th>
            <th>Data da vacinação</th>
            <th>Avaliação</th>
          </tr>
        </thead>
        <tbody>
          @for (vacinacao of vacinacoes; track vacinacao)
          {
            <tr>
              <td>{{vacinacao.idPessoa}}</td>
              <td>{{vacinacao.vacina.nome}}</td>
              <td>{{vacinacao.data}}</td>
              <td>{{vacinacao.avaliacao}}</td>
              <td>
                <div class="row">
                  <div>
                    <button type="button" class="btn btn-outline-dark">
                      <i class="bi bi-pencil"></i> Editar
                    </button>
                    &nbsp;
                    <button type="button" class="btn btn-outline-danger">
                      <i class="bi bi-trash3"></i> Excluir
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>

    </div>

  </div>
</div>
