<div class="container">
  <h3 class="alert alert-sucess">Cadastro de Vacinas</h3>
  <form>
    <div class="mb-3">
      <label for="nome" class="form-label">Nome da Vacina</label>
      <input type="text" class="form-control" name="nome"  >
    </div>

    <div class="mb-3">
      <label for="pais" class="form-label">País de origem</label>
      <input type="text" class="form-control" name="pais"  >
    </div>

    <div class="mb-3">
      <label for="pesquisador" class="form-label">Pesquisador responsável</label>
      <input type="text" class="form-control" name="pesquisador" >
    </div>

    <div class="mb-3">
      <label for="estagio" class="form-label">Estágio</label>
      <input type="text" class="form-control" name="estagio"  >
    </div>

    <div class="mb-3">
      <label for="inicioPesquisa" class="form-label">Início da Pesquisa</label>
      <input type="date" class="form-control" name="inicioPesquisa"  >
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
  </form>
</div>
